version: '3.9'

services:
  archive-bot:
    build: .
    container_name: archive-rclone-bot
    restart: unless-stopped
    environment:
      - API_ID=${API_ID}
      - API_HASH=${API_HASH}
      - BOT_TOKEN=${BOT_TOKEN}
      - TZ=UTC
    volumes:
      - ./config:/config
      - ./downloads:/downloads
      - /etc/localtime:/etc/localtime:ro
      - /etc/timezone:/etc/timezone:ro
